nav   {
    background-color:darkblue;
    padding:10px; 
}
nav a {
    color:0,1,1;
    display: block;
    padding: 20px;
}
h1    {
     color:darkblue;

} 

main img   {
       width:150px;
       height:auto;
       border: 1px solid black;
       padding:2px;
       box-shadow:0 0 30px gray;
}

main aside img{
    width: 150px;
    height: auto;

}
    p {
        padding:0;
}
footer{
    margin-top: 10px; /*adding top margin*/
    border-top: 2px #000000 solid;/*adding boarder,thichness,color,type of border*/
    text-align: center;
}
